@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Quicksand&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.App {
  padding: 66px 100px;
  background-color: rgb(167, 192, 163);
  min-height: 690px;
}

